{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ analysis.user }}</a>
        {% if analysis.user == current_user %}
          <div>
            <a id="update" class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_analysis', stock_id=stock.id, analysis_id=analysis.id) }}">Update</a>
            <button id="delete" type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ analysis.title }}</h2>
      <p class="article-content">{{ analysis.content }}</p>
    </div>
  </article>
{% endblock content %}