{% extends "layout.html" %}
{% block content %}
        <h2>Title: {{ analysis.title }}</h2>
        <h4>This analysis is assigned to {{ analysis.stock.name }}</h4>
    <div class="content-section">
        {% if analysis.user == current_user %}
          <div>
            <a class="btn btn-primary btn-sm" href="{{ url_for('update_analysis', analysis_id=analysis.id) }}" role="button">Update</a>
            <a onclick="javascript: return confirm('Are you sure you want to delete this analysis?');" class="btn btn-danger btn-sm" href="{{ url_for('delete_analysis', analysis_id=analysis.id) }}" role="button">Delete</a>
          </div>
        {% endif %}
        <div class="row">
            <div class="col-md-4">This analysis was written by: </div>
            <div class="col-md-8">{{ analysis.user.username }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">It was posted: </div>
            <div class="col-md-8"> {{ analysis.date_posted.strftime('%Y-%m-%d') }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">Estimated price:  </div>
            <div class="col-md-8">{{ analysis.price }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">The stock´s earnings was: </div>
            <div class="col-md-8">{{ analysis.earnings }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">The stock´s P/E value was: </div>
            <div class="col-md-8">{{ analysis.p_e }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">And the market cap was: </div>
            <div class="col-md-8">{{ analysis.market_cap }}</div>
        </div>
        <div class="row">
            <div class="col-md-4">The user wrote: </div>
            <div class="col-md-8">{{ analysis.content }}</div>
        </div>
        <a class="btn btn-primary btn-sm" href="{{ url_for('stock', stock_id=analysis.stock.id) }}" role="button">Return</a>
    </div>
{% endblock content %}
