{% extends "layout.html" %}
{% block content %}
    <div>
        <h2>Welcome</h2>
        <h3>Here are your analyses</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Stock</th>
            </tr>
            </thead>
            <tbody>
            {% for analysis in analyses %}
                <tr>
                    <th scope="row">{{ analysis.title }}</th>
                    <td>{{ analysis.stock.name }}</td>
                </tr>
                </tbody>
                </table>
            {% endfor %}
    </div>
{% endblock content %}