{% extends "layout.html" %}
{% block content %}
    <h1>Stock: {{ stock.name }}</h1>
    <h4>Number of shares : {{ stock.number_of_shares }}</h4>
    <h4>Ticker: {{ stock.ticker }}</h4>
     <form class="form-inline">
        <label class="sr-only" for="startdate"></label>
        <input type="date" class="form-control mb-2 mr-sm-2" id="startdate" name="startdate" placeholder="Start date">

        <label class="sr-only" for="enddate"></label>
        <input type="date" class="form-control mb-2 mr-sm-2" id="enddate" name="enddate" placeholder="End date">

        <button type="submit" class="btn btn-primary mb-2">Submit</button>
    </form>
    <a class="btn btn-secondary" href="{{ url_for('add_price', stock_id=stock.id) }}" role="button">Add price</a>
    <h3> Number of prices registered for this stock:  ({{ diagrams | length  }}) </h3>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody>
            {% for diagram in diagrams %}
                <tr>
                    <th class="row">{{ diagram.date.strftime('%Y-%m-%d') }}</th>
                    <td>{{ diagram.price }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
     {% if current_user.is_authenticated %}
        <a class="btn btn-secondary" href="{{ url_for('create_analysis', stock_id=stock.id) }}" role="button">Create
            Analysis</a>
    {% endif %}

    <h3>Analyses connected to {{ stock.name }}</h3>
    {% for analysis in stock.analyses %}
        <div class="content-section">
            <h4><a class="article-title" href="{{ url_for('analysis', analysis_id=analysis.id) }}">{{ analysis.title }}</a></h4>
            <div class="mr-2"> User: {{ analysis.user.username }}</div>
            <div class="text-muted">{{ analysis.date_posted.strftime('%Y-%m-%d') }}</div>
            <p class="article-content">{{ analysis.content | truncate(400) }}</p>
        </div>
    {% endfor %}
{% endblock content %}
